%%% ===========================================================================
%%% @doc Rebar Config File
%%% @author Damian T. Dobroczy\\'nski <qoocku@gmail.com>
%%% @since 2011-04-11
%%% ===========================================================================

{deps, [{emixins, ".*", {git, "git://github.com/qoocku/emixins.git", "master"}},
        {riak_kv, ".*", {git, "git://github.com/basho/riak_kv.git", "master"}}]}.
{erl_opts, [{i, "deps"}]}.
{eunit_opts, [verbose]}.
{eunit_exclude_deps, true}.

